@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  font-feature-settings: "kern";
}

* {
  font-family: var(--font-geist-sans),
               Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", 
               Roboto, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", 
               "Droid Sans", "Helvetica Neue", Arial, Helvetica, sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

code, pre, kbd, samp {
  font-family: var(--font-geist-mono),
               ui-monospace, SFMono-Regular, "SF Mono", Monaco, 
               Inconsolata, "Fira Code", "Fira Mono", 
               "Droid Sans Mono", Consolas, "Liberation Mono", 
               "Courier New", monospace !important;
}

.font-loading * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 
               Roboto, Arial, Helvetica, sans-serif !important;
}

/* Когда шрифты загружены */
.font-loaded * {
  font-family: var(--font-geist-sans),
               Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", 
               Roboto, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", 
               "Droid Sans", "Helvetica Neue", Arial, Helvetica, sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji" !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}